<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">To main</button>
  </div>

  <div class="info">
    <strong>Author here</strong>
    <small>12.09.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur doloribus et excepturi libero maiores nam quas saepe totam velit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur doloribus et excepturi libero maiores nam quas saepe totam velit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur doloribus et excepturi libero maiores nam quas saepe totam velit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur doloribus et excepturi libero maiores nam quas saepe totam velit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur doloribus et excepturi libero maiores nam quas saepe totam velit.</p>
  </div>
</div>
